<div id="left-header">
    <img src="assets/images/NuWay_logo_white.png" alt="NuWay Logo" id="logo-main">
</div>
<nav>
    <a href="./">Home</a>
    <a href="services.html">Services</a>
    <a href="about.html">About</a>
    <a href="contact.html">Contact</a>
</nav>
<div id="right-header">
    <h4>Call Us Today</h4>
    <h3><a href="tel:864997186" class="nav-cta">(864) 997-7186</a></h3>
    <div class="socials">
            <a href="#####" aria-label="Facebook">
                <img src="https://www.facebook.com/favicon.ico" alt="Facebook">
            </a>
            <a href="####" aria-label="Instagram">
                <img src="https://www.google.com/s2/favicons?domain=instagram.com&sz=32" alt="Instagram">
            <a href="#####" aria-label="Google">
                <img src="https://www.google.com/favicon.ico" alt="Google">
            </a>
        </div>
</div>